<!--- Footer -->
<footer class="footer">
	<div class="container-fluid">
		<div class="row text-center">
            <div class="col-md-12 col-xs-6 offset-xs-3">
            <%- image_tag('images/footer-logo--test.png'); %>
			</div>
		</div>
		<div class="row text-center">
			<div class="col-md-4">
				<hr class="light">
				<h5>CONTACT INFO</h5>
				<hr class="light">
                <p>
                    <%- link_to('tel:1-717-743-1211', '(717) 743-1211', {external: true}) %>
                </p>
                <p>
                    <%- link_to('mailto:zoe@endicottcounseling.com', 'zoe@endicottcounseling.com', {external: true}) %>
                </p>
			</div>
			<div class="col-md-4">
				<hr class="light">
				<h5>AVAILABILITY</h5>
				<hr class="light">
				<p>Weekdays and evenings.</p>
				<p>Call or email to make an appointment.</p>
			</div>
			<div class="col-md-4">
				<hr class="light">
				<h5>RESOURCES</h5>
                <hr class="light">
                <p>
                    <%- link_to('http://www.postpartum.net/', 'Postpartum Support International', {external: true}) %>
                </p>
                <p>
                    <%- link_to('http://nationalshare.org/', 'Share: Pregnancy &amp; infant loss support', {external: true}) %>
                </p>
                <p>
                    <%- link_to('https://expectful.com/', 'Expectful: A guided meditation app for mothers', {external: true}) %>
                </p>
                <p>
                    <%- link_to('https://thebirthhour.com/', 'The Birth Hour: A birth story podcast', {external: true}) %>
                </p>
			</div>
		</div>
		<div class="row footer__bottom">
			<div class="col-md-4">
				<p>©2018 Zoe Endicott Counseling</p>
			</div>
			<div class="col-md-4">
				<p>5105-D Monroe Road, Charlotte,&nbsp;NC&nbsp;28205</p>
			</div>
            <div class="col-md-4 footer__social">
				<a target="_blank" title="Opens in a new window" href="https://www.facebook.com/endicottcounseling/"><i class="fab fa-facebook"></i></a>
				<a target="_blank" title="Opens in a new window" href="https://www.instagram.com/endicottcounseling/"><i class="fab fa-instagram"></i></a>
			</div>
		</div>
	</div>
</footer>